#notes {
    margin: 0;
    padding: 0;
}
#notes .wrap {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    top: 50px;
}

#notes .says {
    width: 780px;
    height: 200px;
    position: absolute;
}

#notes .says h1 {
    font-size: 18px;
    color: #A8A8A8;
    margin-bottom: 5px;
}

#notes textarea {
    width: 760px;
    height: 100px;
    outline: none;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    color: #660000;
}

#notes input {
    width: 100px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #00CC66;
    color: white;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    transition: all ease 0.4s;
    font-size: 16px;
}

#notes input:hover {
    filter: alpha(opaciyt:70);
    opacity: 0.7;
}

#notes ul {
    width: 760px;
    height: 380px;
    margin-top:210px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;

}

#notes li {
    width: 750px;
    border-bottom: 1px dotted #ccc;
    list-style: none;
    line-height: 57px;
    font-size: 14px;
    color: #606060;
    overflow: hidden;
    filter: alpha(opacity:0);
    opacity: 0;

}

#notes span {
    float: right;
    margin-right: 30px;
}

#notes .errmsg {
    font-size: 14px;
    color: red;
    font-weight: bold;
    filter: alpha(opacity:0);
    opacity: 0;
}

#notes a {
    font-size: 14px;
    color: #990000;
    text-decoration: none;
    margin-left: 10px;
}

#notes a:hover {
    color: red;
    text-decoration: underline;
}