<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/local/common.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/SidebarNav.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</head>
<body>


<div id="Senti">
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <h1><a class="navbar-brand" href="/view/show.html"><span class="fa fa-area-chart"></span> Senti</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">GITHUB ANALYSE</li>
                    <li class="treeview">
                        <a type="button" id="showCommit" v-on:click="commitSenti">
                            <i class="fa fa-dashboard"></i> <span>CommitSenti</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a type="button" id="showCode" v-on:click="codeSenti">
                            <i class="fa fa-pie-chart"></i>
                            <span>CodeSenti</span>
                        </a>
                    </li>
                    <li class="treeview">
                </ul>
            </div>

        </nav>
    </aside>

    <div id="page-wrapper">
        <div class="main-page">

            <div class="row-one widgettable">
                <div id="CommitMessage" style=" margin-left:280px; width: 1200px; height: 800px;display:none;"></div>

                <div id="CodeSentis" style=" margin-left:280px;  display:none;">
                    <select v-model="selectClass" @change="getValue">
                        <option v-for="Aclass in classes">{{ Aclass.name }}</option>
                    </select>
                    <div id="CodeComment" style="width: 1200px; height: 800px;"></div>
                    <textarea style="width: 1200px;height: 600px;" readonly="readonly" id="codes"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="commitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Commit Message
                </h4>
            </div>
            <div class="modal-body" id="commit-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Code Comments
                </h4>
            </div>
            <div class="modal-body" id="code-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/local/show.js"></script>
</body>
</html>