<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/local/common.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script src="/js/macarons.js"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/SidebarNav.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/custom.css" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script src="/js/prefixfree.min.js"></script>
    <script src="/js/modernizr.js"></script>
    <link href="/css/Loadingstyle.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/flatnav.css"  rel="stylesheet">
</head>
<body>


<div id="Senti">
    <aside class="sidebar-left">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <h1><a class="navbar-brand" href="/view/show.html"><span class="fa fa-area-chart"></span> Senti</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="sidebar-menu">
                    <li class="header">GITHUB ANALYSE</li>
                    <li class="treeview">
                        <a type="button" id="showCommit" v-on:click="commitSenti">
                            <i class="fa fa-dashboard"></i> <span>CommitSenti</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a type="button" id="showCode" v-on:click="codeSenti">
                            <i class="fa fa-pie-chart"></i>
                            <span>CodeSenti</span>
                        </a>
                    </li>
                    <li class="treeview">
                </ul>
            </div>

        </nav>
    </aside>

    <!-- header-starts -->
    <div class="sticky-header header-section ">
            <!--search-box-->
            <div class="search-box" style="margin-left: 500px">
                <form v-on:submit.prevent="searchProject">
                    <input type="text" id="search_text" placeholder="Search" v-model="toSearch">
                    <input type="button" id="search_button">
                </form>
            </div><!--//end-search-box-->

    </div>
    <!-- //header-ends -->

    <div id="page-wrapper">
        <div class="main-page">

            <div class="loader" id="loader" style="display:none;"><!--加载动画-->
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="row-one widgettable">
                <div id="CommitMessage" style="display:none;">
                    <div class="panel-info widget-shadow"  style="margin-left: 230px">
                        <h3>Senti-Strength</h3>
                        <div id="CommitMessage10" style=" margin-left:280px; width: 1200px; height: 400px;"></div><!--commit情绪图senti-strength-->
                        <div class="fan" style=" margin-left:280px; width: 1200px; height: 400px;">
                            <div id="CommitMessage11" style=" width: 400px; height: 400px; float: left"></div>
                            <div id="CommitMessage12" style=" margin-left:400px;width: 400px; height: 400px; float: left"></div>
                        </div>
                    </div>

                    <br>

                    <div class="panel-info widget-shadow"  style="margin-left: 230px">
                        <h3>Sanford-corenlp</h3>
                        <div id="CommitMessage20" style=" margin-left:280px; width: 1200px; height: 400px;"></div><!--commit情绪图Sanford-corenlp-->
                        <div class="fan" style=" margin-left:280px; width: 1200px; height: 400px;">
                            <div id="CommitMessage21" style=" width: 400px; height: 400px; float: left;"></div>
                        </div>
                    </div>
                </div>


                <div id="CodeSentis" style=" margin-left:280px;  display:none;">
                    <select v-model="selectClass" @change="getValue"><!--class生成 -->
                        <option v-for="Aclass in classes">{{ Aclass.name }}</option>
                    </select>
                    <div id="CodeComment" style="width: 1200px; height: 400px;"></div><!--代码情绪图-->
                    <textarea style="width: 1200px;height: 600px;" readonly="readonly" id="codes"></textarea>
                </div>
            </div>
        </div>
    </div>

</div>

<!--点击图的模态框-->
<div class="modal fade" id="commitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- senti-strength commit -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Commit Message
                </h4>
            </div>
            <div class="modal-body" id="commit-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="commitModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><!-- standford commit -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Commit Message
                </h4>
            </div>
            <div class="modal-body" id="commit-body1">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="codeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Code Comments
                </h4>
            </div>
            <div class="modal-body" id="code-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/local/show.js"></script>
</body>
</html>