<!DOCTYPE HTML>
<html>
<head>
    <title>MonthChart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script src="/js/local/common.js"></script>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>

    <!-- Custom CSS -->
    <link href="/css/style.css" rel='stylesheet' type='text/css'/>

    <!-- font-awesome icons CSS -->
    <link href="/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons CSS -->

    <!-- side nav css file -->
    <link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
    <!-- side nav css file -->

    <!--webfonts-->
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <!--//webfonts-->

    <!-- Metis Menu -->
    <link href="/css/custom.css" rel="stylesheet">
    <!--//Metis Menu -->
    <style>
        p{
            font-family:"宋体";
            font-style: italic;
        }
    </style>

</head>
<body class="cbp-spmenu-push">
<div class="main-content" id="Senti">
    <div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <!--left-fixed -navigation-->
        <aside class="sidebar-left">
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <h1><a class="navbar-brand" href="/search/input"><span class="fa fa-area-chart"></span> Senti</a>
                    </h1>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="sidebar-menu">
                        <li class="header">GITHUB ANALYSE</li>
                        <li class="treeview">
                            <a href="/search/yeartop">
                                <i class="fa fa-dashboard"></i> <span>Issue</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a type="button" id="showCommit" v-on:click="commitSenti">
                                <i class="fa fa-dashboard"></i> <span>Commit</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="/contributors">
                                <i class="fa fa-dashboard"></i> <span>Contribute</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </aside>
    </div>
    <!--left-fixed -navigation-->

    <!-- header-starts -->
    <div class="sticky-header header-section ">
        <div class="header-right">


            <div class="profile_details">
                <ul>
                    <li class="dropdown profile_details_drop">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <div class="profile_img">
                                <span class="prfil-img"> </span>
                                <div class="user-name">
                                    <p></p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu drp-mnu">
                            <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-suitcase"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- //header-ends -->
    <!-- main content start-->
    <div id="page-wrapper">
        <div class="main-page">
            <h2 class="title1">Choose One</h2>
            <div class="elements">
                <!--photoday-section-->
                <div class="col-sm-4 wthree-crd widgettable">
                    <div class="card">
                        <div class="card-body">
                            <div class="agileinfo-cdr">

                                <div class="card-header">
                                    <h3>Issue</h3>
                                </div>
                                <hr class="widget-separator">
                                <p>包含：</p>
                                <br>
                                <p>1.近期波动</p>
                                <br>
                                <p>2.年度排名</p>
                                <br>
                                <p>3.月度排名</p>
                                <br>
                                <p>4.月度情绪变化图</p>
                                <br>
                                <br>
                                <p><a href="/search/yeartop">查看Issue部分</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 w3-agileits-crd widgettable">

                    <div class="card">
                        <div class="card-body">
                            <div class="agileinfo-cdr">

                                <div class="card-header">
                                    <h3>About</h3>
                                </div>
                                <hr class="widget-separator">
                                <p>包含：</p>
                                <br>
                                <p>1.近期波动</p>
                                <br>
                                <p>2.年度排名</p>
                                <br>
                                <p>3.月度排名</p>
                                <br>
                                <p>4.月度情绪变化图</p>
                                <br>
                                <br>
                                <p><a href="">这是Commit部分</a></p>
                                <p>Calculating sentiment of Commit and Code Comment</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 w3-agile-crd widgettable">
                    <div class="card">
                        <div class="card-body">
                            <div class="agileinfo-cdr">

                                <div class="card-header">
                                    <h3>Report</h3>
                                </div>
                                <hr class="widget-separator">
                                <p>包含：</p>
                                <br>
                                <p>1.近期波动</p>
                                <br>
                                <p>2.年度排名</p>
                                <br>
                                <p>3.月度排名</p>
                                <br>
                                <p>4.月度情绪变化图</p>
                                <br>
                                <br>
                                <p><a href="">这是Contributor部分</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <p></p>
    </div>
    <!--//footer-->
</div>
<script>
    $(document).ready(function () {
        new Vue({
            el: "#Senti",
            methods: {
                commitSenti: function () {
                    self = this;
                    this.$http.get("http://localhost:8080/git/projectExist").then(function (response) {
                        var res = response.bodyText;
                        if (res == "no")
                            alert("please search project first");
                        else
                            window.location.href = "/view/showCommit.html"
                    })
                }

            }
        })

    })

</script>


<script src="/js/bootstrap.js"></script>
</body>
</html>