<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senti.dao.GitDao">

  <insert id="addNote" parameterType="com.senti.model.codeComment.ClassNote">
        insert into classnote(userid,gid,classname,note,time) values(#{userid},#{gid},#{classname},#{note},#{time})
  </insert>
  <select id="getNotes" resultType="com.senti.model.codeComment.ClassNote">
        select *from classnote where userid=#{userid} and gid=#{gid}
  </select>
</mapper>