<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senti.dao.GitDao">
  <insert id="addrelatedClasses" parameterType="java.util.List">
    insert into relatedclasses (gid,sha,name) values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.gid},#{item.sha},#{item.name})
    </foreach>
  </insert>
  <select id="getrelatedClasses" resultType="com.senti.model.codeComment.relatedClasses">
    select *from relatedclasses where gid=#{gid}
  </select>
</mapper>